.containerCard {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    border: 1px solid royalblue;
    margin: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 3%;
}

.containerCard img {
    width: 100%;
    height: auto;
}
.card {
    text-align: center;
    color: rebeccapurple;
}
